:root {
  --box-background: linear-gradient(
    98.3deg,
    rgb(0, 0, 0) 10.6%,
    rgb(255, 0, 0) 97.7%
  );
  --secondry-background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
  --border: 1px solid black;
  --border-radious: 5px;
  --secondry-border-radious: 10px;
  --box-shadow: 5px 5px 5px;
  --name-font: "Dancing Script", cursive;
  --heading-font: Poppins;
}
.hero {
  text-align: center;
  padding: 30px 20px;
  margin-top: 10px;
  background: var(--secondry-background);
  border-radius: var(--secondry-border-radious);
}
h1 {
  text-align: center;
  font-family: var(--name-font);
  font-size: 96px;
}
h5 {
  text-align: center;
  font-family: var(--heading-font);
}

.headingOne {
  font-size: 36px;
  font-weight: 400px;
}
.headingThree {
  font-size: 24px;
  font-weight: 400;
}
.contactButton {
  text-align: center;
  border: var(--border);
  border-radius: var(--border-radious);
  box-shadow: var(--box-shadow);
  padding: 15px 30px 15px 30px;
  font-size: 24px;
  background: var(--box-background);
}
img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
