:root {
  --box-background: linear-gradient(
    98.3deg,
    rgb(0, 0, 0) 10.6%,
    rgb(255, 0, 0) 97.7%
  );
  --secondry-background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
  --border: 1px solid black;
  --border-radious: 5px;
  --secondry-border-radious: 10px;
  --box-shadow: 5px 5px 5px;
  --name-font: "Dancing Script", cursive;
  --heading-font: "Poppins", sans-serif;
}
.hero {
  text-align: center;
  padding: 30px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: var(--secondry-background);
  border-radius: var(--secondry-border-radious);
}
h1 {
  text-align: center;
  font-family: var(--name-font);
  font-size: 64px;
}

h2,
h3,
h4,
h5 {
  text-align: center;
  font-family: var(--heading-font);
}
p {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
.headingOne {
  font-size: 36px;
  font-weight: 400px;
}
.headingThree {
  font-size: 24px;
  font-weight: 400;
}
.contactButton {
  text-align: center;
  border: var(--border);
  border-radius: var(--border-radious);
  box-shadow: var(--box-shadow);
  padding: 15px 30px 15px 30px;
  font-size: 24px;
  background: var(--box-background);
}
.main-picture {
  display: block;
  margin: auto;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.starter {
  font-family: var(--heading-font);
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  padding: 30px 15px;
  text-align: center;
}
.weather-app {
  padding: 100px 20px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }

  p {
    font-size: 16px;
  }
  .headingOne {
    font-size: 24px;
  }
  .headingThree {
    font-size: 20px;
  }
  .contactButton {
    font-size: 16px;
  }
}
.aboutPageHeading {
  font-size: 64px;
}
.aboutHero {
  padding: 120px 60px;
}
.workPageHeadingOne {
  font-size: 16px;
}
.workPageName {
  font-size: 36px;
}
.workPageHeadingThree {
  text-align: center;
  font-family: var(--heading-font);
  font-size: 24px;
}

.look {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-size: 30px;

  padding: 60px 20px;
}
.projectTitle {
  text-align: center;
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: bold;
}
.coding {
  text-align: center;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.get-in-touch {
  font-family: var(--heading-font);
  font-size: 56px;
  padding: 50px 20px;
  margin-top: 20px;
}
a {
  text-decoration: none;
}
.logo {
  max-width: 50px;
  max-height: 50px;
  display: flex;
  justify-content: left;
}
nav {
  padding: 20px 0px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  padding-right: 10px;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav a {
  color: black;
  font-family: var(--heading-font);
  font-size: 16px;
}
nav a:hover {
  color: rgb(129, 30, 30);
  font-size: 20px;
}
.active {
  color: rgb(129, 30, 30);
  font-size: 20px;
}
@media (max-width: 500px) {
  nav a {
    font-size: 10px;
  }
  nav li {
    padding-right: 5px;
  }
  .title-name {
    display: none;
  }
}

.nav-name {
  font-family: var(--name-font);
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-align: left;
}
.work-together-one {
  font-family: "Times New Roman", Times, serif;
}
.work-together-two {
  margin-top: 25px;
}
.work-inquiry {
  background: var(--secondry-background);
  border-radius: var(--border-radious);
  padding: 10px 20px;
}

footer {
  text-align: center;
}
.contact-item {
  font-size: 24px;
  margin: 0px 20px;
  padding: 12px 18px;
  border-radius: 50%;
  color: black;
  background: var(--secondry-background);
}

.creator {
  text-align: center;
  font-style: italic;
  padding: 20px 0px;
}
.creator-contact-page {
  text-align: center;
  font-style: italic;
  padding: 20px 0px;
  font-size: medium;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
}
.github-link {
  font-style: normal;
  font-weight: bold;
  font-size: large;
}
.footer-name {
  font-weight: bold;
}
